body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
  
h1 {
    text-align: center;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}  
input[type="text"],
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
}